dist
build
MCPoly/*
MCPoly/lmpset/*
MCPoly/moldraw/*
MCPoly/orcaset/*
MCPoly/sscurve/*
MCPoly/status/*
MCPoly/version/*
MCPoly/vis/*
MCPoly/view3d/*

**/__pycache__/

**/.cache
.mypy_cache
*.ipynb_checkpoints
**/.vscode

# Some folders get created by tests.
**/tests_output
docs/build
tests/failures.txt
